.guider{
    width:500px;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 0;
}

.Title{
    background-color: #409EFF;
    line-height: 80px;
    margin-top: -10px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
